<%- include("partials/header.ejs") %>
        <main>
            <div class="flex">
                <div class="bookSearchDiv flex">
                    <form action="/searchBook" method="post">
                        <div class="flex">
                            <input class="bookSearchField" type="text" name="book" placeholder="Search your book!" autocomplete="off">
                            <button class="bookSearchButton"type="submit" class="centerSearch"><img src="/images/search-book-svgrepo-com.svg"/></button>
                        </div>   
                        
                    </form>
                </div>
            </div>
            
            <% if(books.length != 0) { %>
                <div class="flexBookSearch">
                    <form method="post" action="/books">
                        <% books.forEach((book, idx)=>{ %>
                            <button type="submit" name="chosenBook" value="<%= JSON.stringify(book.volumeInfo) %>">
                                <% if(typeof book.volumeInfo.imageLinks == 'undefined'){ %>
                                    <div class="noImgDisplay">
                                        <p><%= book.volumeInfo.title %></p>
                                        <img src="/images/error-svgrepo-com.svg" />
                                    </div>
                                    
                                <% } else{ %>
                                   <img src="<%= book.volumeInfo.imageLinks.thumbnail %>"/>
                                   
                                <% } %>
                                
                            </button>
                        <% }); %>
                    </form>
                </div>
            <% } %>
        </main>
<%- include("partials/footer.ejs") %>