<%- include("partials/header.ejs") %>
        <main>
            <div class="flex">
                    <form action="/searchBook" method="post" class="bookSearchDiv">
                        <div class="left"></div>
                        <input class="bookSearchField" type="text" name="book" placeholder="Search your book!" autocomplete="off">
                        <button class="bookSearchButton"type="submit" class="centerSearch"><img src="/images/search-book-svgrepo-com.svg"/></button>
                    </form>
            </div>
            <% if(locals.books) {%>
                <% if(books.length != 0) { %>
                    <div class="flexBookSearch">
                        <form method="post" action="/books" class="flex-wrap">
                            <% books.forEach((book, idx)=>{ %>
                                <button type="submit" class="galleryItem flex" style="background-color: #D5CEA3;" name="chosenBook" value="<%= JSON.stringify(book.volumeInfo) %>">
                                    <% if(typeof book.volumeInfo.imageLinks == 'undefined'){ %>
                                        <div class="noImgDisplay">
                                            <%if (book.volumeInfo.title.length > 50) { %>
                                            <p><%= book.volumeInfo.title.slice(0,30)%>...</p>
                                            <% } else { %>
                                                <p><%= book.volumeInfo.title %></p>
                                            <% } %>
                                            <img src="/images/error-svgrepo-com.svg" />
                                        </div>
                                        
                                    <% } else{ %>
                                    <img src="<%= book.volumeInfo.imageLinks.thumbnail %>"/>
                                    
                                    <% } %>
                                    
                                </button>
                            <% }); %>
                        </form>
                    </div>
                <% } %>
            <% } else {%>
                <h1 class="flex" style="font-size: 3rem;">No matching results!</h1>
            <% } %>
        </main>
<%- include("partials/footer.ejs") %>