<%- include("partials/header.ejs") %>

        <main>
            <div class="grid-container">
                <div class="grid-item flexBook-topAlign">
                    <div class="bookContent flexbook">
                        <h2 class="book-title">Recently Read</h2>
                        <img class="book-image" src="<%= book.img %>"/>
                        <a href="/recentBook">
                            <div class="gratitudeButton" style="margin-bottom: 7%;">
                                    <img src="images/book-sparkles-svgrepo-com.svg" class="create-image"/>
                                    <div class="flexText buttonTextStyle">Change</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid-item schedule-area">
                    <div class="main-schedule-flexbox">
                        <div class="main-schedule-flex-item">
                            <div class="main-schedule-title flex">
                                <h1>
                                    Today's Schedule
                                </h1>
                            </div>
                            
                        </div>
                        <% tasks.forEach((task)=>{ %>
                            <div class="main-schedule-flex-item">
                                <div class="flex main-schedule-time">
                                    <p><%= task.startTime %> - <%= task.endTime %></p>
                                </div>
                                <div class="main-schedule-description">
                                    <p><%= task.description %></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <div class="grid-item todoGoalsArea">
                    <div class="todoList">
                        <div class="title flex">
                            <h1> TODO</h1>
                        </div>
                        <div class="todoItems">
                
                            <% todo.forEach((item, idx)=>{ %>
                                <form action="/todo/delete" method="post" class="todoItem idx<%=idx%>">
                                    <input class="checkBoxButton" type="checkbox" name="deleteTodo" value="<%= item._id %>" onchange="this.form.submit()">
                                    <div class="todoContent"><p><%= item.name %></p></div>
                                </form>
                            <% }); %>
                            
                            <div class="newTodoItemDiv">
                                <form action="/todo" method="POST">
                                    <input class="newTodoInput" type="text" name="todo" placeholder="Type todo here!" autocomplete="off">
                                    <button class="submitButton" type="submit">
                                        <div class="line1"></div>
                                        <div class="line2"></div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="goalList">
                        <div class="title flex">
                            <h1>Goals</h1>
                        </div>

                        <div class="todoItems">

                            <% goals.forEach((goal, idx)=>{ %>
                                <form action="/goals/delete" method="post" class= "todoItem idx<%= (todo.length + idx) %>">
                                    <input class="checkBoxButton" type="checkbox" name="deleteGoal" value="<%= goal._id %>" onchange="this.form.submit()">
                                    <div class="todoContent"><p><%= goal.name %></p></div>
                                </form>
                            <% }); %>
                            
                            <div class="newTodoItemDiv">
                                <form action="/goals" method="POST">
                                    <input class="newTodoInput" type="text" name="goal" placeholder="Type goal here!" autocomplete="off">
                                    <button class="submitButton" type="submit">
                                        <div class="line1"></div>
                                        <div class="line2"></div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item flex">
                </div>
            </div>
        </main>
    
        <%- include("./partials/footer.ejs") %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/staticJS/static.js"></script>
    </body>
</html> 