<%- include("partials/header.ejs") %>

<main>
    <div class="grid-container">
        <div class="grid-item flex">
            <div class="bookContent flexbook">
                <h2 class="book-title"><%= book.title %></h2>
                <img class="book-image" src="<%= book.img %>"/>
                <p class="book-description">Description: <%= book.description.substring(0,100).replaceAll('<p>', ' ').replaceAll('</p>', ' ').replaceAll("<br>", " ") + "..." %><a href="/gallery" >Read More</a></p>
            </div>
        </div>
        <div class="grid-item schedule-area"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
</main>
<%- include("partials/footer.ejs") %>